* {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #5998ff;
}

nav .nav-wrapper ul li a {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 100;
}

.brand-logo {
    text-indent: 15px;
}

.activeTab {
    background: rgba(0, 0, 0, 0.1);
}

.calculator {
    margin-top: 30px;
}

.calculator input[type="text"],
.calculator input[type="number"] {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.names {
    font-size: 24px;
    text-align: right;
    margin-top: 22px;
}

.buttons {
    margin-top: 50px;
    text-align: center;
}

.buttons [type="reset"],
.buttons [type="button"] {
    font-size: 26px;
    width: 100%;
    border: none;
    padding: 10px 0;
}

.results {
    margin-top: 30px;
    padding: 20px 0;
    background: #5998ff;
}

.results [type="text"] {
    border-bottom: 1px solid #fff !important;
    color: #fff;
    font-size: 26px;
}

.results .name {
    color: #fff;
    font-size: 26px;
    margin-top: 10px;
}

.rates {
    margin-top: 15px;
    background-color: #dddddd;
    padding: 20px 0;
}

.real {
    margin-top: 20px;
}

.rates .name {
    font-size: 18px;
    color: #0d0d0d;
    margin-top: 30px;
}

.note {
    margin: 20px 0;
    text-align: right;
    font-size: 16px;
}

.note span {
    color: #ff4444;
    font-size: 24px;
    position: relative;
    top: 3px;
}

.copyright {
    background: #dddddd;
    color: #0d0d0d;
    padding: 10px 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}

.copyright span {
    color: #ff4444;
}


/*******************
PREPARE WEIGHT PAGE 
*******************/

.pageTitle {
    text-align: center;
    color: #fff;
    background: #5998ff;
    border-radius: 100px;
    padding: 5px 0 16px 0;
}

.w_table {
    margin-top: 40px;
}

.w_table,
.w_table th,
.w_table tr,
.w_table td {
    border: 1px solid #5998ff;
    text-align: center;
    border-collapse: collapse;
    font-size: 22px;
    color: #202020;
    font-family: 'Times New Roman', Times, serif;
}

.w_table th {
    font-size: 24px;
    color: #5998ff;
}

/*******************
SHOP PRICE PAGE 
*******************/

.shop_p {
    margin-top: 50px;
}

.shop_p [type="text"] {
    border: 1px solid #fff !important;
    position: relative;
    top: 10px;
}

.shop_p,
.shop_p th,
.shop_p tr,
.shop_p td {
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #5998ff;
    color: #202020;
}

.shop_p th {
    font-size: 24px;
    background: #5998ff;
    color: #fff;
}


@media screen and (max-width: 600px) {

    .names {
        font-size: 16px;
        margin-top: 25px;
    }

    .brand-logo {
        text-indent: 0;
        position: relative;
        top: -7px;
    }

    .results,
    .rates {
        padding: 20px 20px;
    }

    .results .name {
        text-align: right;
        font-size: 18px;
        margin-top: 22px;
    }

    .rates .name {
        text-align: right;
        font-size: 15px;
        margin-top: 28px;
    }

    .note {
        font-size: 14px;
    }

    .note span {
        font-size: 16px;
        top: 1px;
    }

    .w_table th,
    .shop_p th {
        font-size: 16px;
    }

    .w_table td,
    .shop_p td,
    .shop_p [type="text"] {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 350px) {

    .names {
        font-size: 16px;
        margin-top: 28px;
    }

    .results .name {
        font-size: 15px;
    }

}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        top: 0 !important;
    }
}
